<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link th:href="@{~/css/AdminCss/mdb.min.css}" rel="stylesheet">-->
<!--    <script th:src="@{~/js/admin/mdb.min.js}"></script>-->
<!--    <link rel="stylesheet" th:href="@{~/css/JobListStyle.css}">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />-->
<!--    <link rel="stylesheet" th:href="@{~/css/AdminCss/adminNav.css}">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;Main Navigation&ndash;&gt;-->
<!--<div th:replace="Fragments/AdminSlide.html :: slider"></div>-->

<!--&lt;!&ndash;Main layout&ndash;&gt;-->
<!--<main style="margin-top: 58px;">-->
<!--    <div class="container pt-4">-->
<!--  <div style="overflow: scroll">-->
<!--  <table>-->
<!--      <thead>-->
<!--      <tr>-->
<!--          <th>Job ID</th>-->
<!--          <th>Job Title</th>-->
<!--          <th>Category</th>-->
<!--          <th>Salary</th>-->
<!--          <th>Address</th>-->
<!--          <th>Type</th>-->
<!--          <th>Description</th>-->
<!--          <th>Full Description</th>-->
<!--          <th>Contact</th>-->
<!--          <th>Status</th>-->
<!--          <th>Action</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr th:each="jobs:${jobslist}">-->
<!--          <td th:text="${jobs.id}"></td>-->
<!--          <td th:text="${jobs.jobTitle}"></td>-->
<!--          <td th:text="${jobs.category}"></td>-->
<!--          <td th:text="${jobs.salary}"></td>-->
<!--          <td th:text="${jobs.address}"></td>-->
<!--          <td th:text="${jobs.type}"></td>-->
<!--          <td th:text="${jobs.description}"></td>-->
<!--          <td th:text="${jobs.full_description}"></td>-->
<!--          <td th:text="${jobs.contact}"></td>-->
<!--          <td> <a class="edit" th:href="@{~/jobs/edit/}+${jobs.id}" >Edit</a></td>-->
<!--&lt;!&ndash;          <td> <a class="edit" th:href="@{~/jobs/edit/}+${jobs.id}" ><i class="fa-solid fa-user-pen"></i></a></td>&ndash;&gt;-->
<!--          <td> <a class="edit" th:href="@{~/jobs/delete/}+${jobs.id}" >Delete</a></td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--  </table>-->
<!--      </div>-->


<!--</body>-->
<!--<script>-->
<!--    let myPage = "jobs";-->
<!--    let listGroupItem = Array.from(document.getElementsByClassName("list-group-item"));-->
<!--    listGroupItem.forEach(i=>{-->
<!--        i.classList.remove("active")-->
<!--    })-->
<!--    let activeID = document.getElementById(myPage);-->
<!--    activeID.classList.add("active");-->
<!--</script>-->
<!--</html>-->