<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mero Jagir: Find the information about mero jagir..</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{~/css/About.css}" />
    <link rel="stylesheet" th:href="@{~/css/Newhome.css}" />
    <link rel="shortcut icon" type="x-icon" th:href="@{~/Images/logo.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body>
<div th:replace="Fragments/userNav.html :: navigation"></div>


<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Company</span>
                        <h2>We are leader in <br />Job market Since 2023</h2>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </div>
                    <ul class="list-style-one">
                        <li>Lorem Ipsum is simply dummy tex</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                    </ul>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1">
                        <a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt="" /></a>
                    </figure>
                    <figure class="image-2">
                        <a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="https://i.ibb.co/JvN0NVB/image-2-about.jpg" alt="" /></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="why feat bg-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="section-head col-sm-12">
                <h4><span>Why Choose</span> Us?</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam enim autem quos ad odit cum similique deserunt ipsa. Obcaecati sint laudantium animi vero voluptatibus.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-globe"></i></span>
                    <h6>Lorem, ipsum.</h6>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quia assumenda reprehenderit tempora!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-anchor"></i></span>
                    <h6>Lorem, ipsum dolor.</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam soluta illum tenetur ratione?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-hourglass-half"></i></span>
                    <h6>Lorem, ipsum dolor.</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam soluta illum tenetur ratione?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-database"></i></span>
                    <h6>Lorem, ipsum dolor.</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam soluta illum tenetur ratione?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-upload"></i></span>
                    <h6>Lorem, ipsum dolor.</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam soluta illum tenetur ratione?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-camera"></i></span>
                    <h6>Lorem, ipsum dolor.</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam soluta illum tenetur ratione?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container flex">
        <p class="tertiary">
            &copy;  All Rights Reserved.@Mero Jagir
        </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- Ion Icons Js -->
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
></script>
<script
        nomodule
        src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
></script>
<!-- JS -->
<script th:src="@{~/js/Nav.js}"></script>
</body>

</html>